*{
    margin: 0px;
}
body{
    background-color: rgb(24, 23, 23);
}
nav .row  .col-1{
    text-align: end;
    align-self: center;
}
#logo{
    width:  65%;
    height: 65%;
    margin: 2rem;
    background-color: black;
}
nav .row  .col-2{
    align-self: center;
    background-color: black;
}
nav .form-control{
    background-color: rgb(18, 18, 18);
    height: 6vh;
    width: 50rem;
    align-self: center;
}
nav .form-control::placeholder{
    color: rgb(128, 120, 120);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav .form-control:enabled{
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left: 3rem;
    border-radius: 40px;
}

main{
    color: white;
}
main .row .col-2{
    background-color: black;
}
main .row .col-10 input{
    background-color:rgb(36, 35, 35) ;
    color: white;
    margin: 0.5%;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: revert;
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    transition: 0.5s;
}
main .row .col-10 input:hover{
    background-color: rgb(59, 58, 58) ;
    transition: 0.5s;
}
#topResult{
    margin-left: 4%;
    margin-right: 4%;
}
.buscador{
    display: flex;
    background-color: #0e0d0d;
    gap: 1rem;
}
.btn-outline-light{
    height: 6vh;
    align-self: center;
}
#artist-image{
    width: 13svh;
    height: 13svh;
    margin: 5%;
}
article span{
    margin-left: 4vh;
    margin-bottom: 4vh;
}
article{
    margin-top: 7%;
    border-radius: 10px;
    background-color: rgb(36, 35, 35);
    padding: 1rem;
    transition: 0.5s;
}
article:hover{
    background-color: rgb(43, 42, 42);
    transition: 0.5s;
}
article h1{
    margin-left: 2rem;
}
h2{
    font-weight: revert ;
}
article h4{
    margin-left: 2rem;
    padding: 2%;
    background-color:  rgb(24, 23, 23);
    width: fit-content;
    border-radius: 20px
    
}
#tracks{
    margin-top: 5%;
    border-radius: 10px;
    width: 100%;
    height: 33.8vh;

}
#tracks iframe{
    height: 5rem;
    transition: 0.5s;
}
#tracks iframe:hover{
    margin-left: 2rem;
    transition: 0.5s ease;
}
