*{
    margin: 0px;
}
body{
    background-color: rgb(24, 23, 23);
}
#logo{
    width:  65%;
    height: 65%;
    margin: 2rem;
    background-color: black;
}
nav .row  .col-2{
    align-self: center;
    background-color: black;
}
nav .form-control{
    background-color: rgb(18, 18, 18);
    height: 6vh;
    width: 50rem;
    align-self: center;
}
nav .form-control::placeholder{
    color: rgb(128, 120, 120);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav .form-control:enabled{
    background-color: rgb(255, 255, 255);
    color: black;
    margin-left: 3rem;
    border-radius: 40px;
}

main{
    color: white;
}
main .row .col-10 .row{
    margin-left: 2rem;
}
.firts-result{
    margin-bottom: 4rem;
}
#espacio{
    background-color: black;
    height: 100vh;
    color: black;
}
#botones input{
    background-color:rgb(36, 35, 35);
    color: white;
    display: flex;
    width: fit-content;
    margin: 0.5%;
    margin-bottom: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    padding: 0.5rem;
    transition: 0.5s;
}
#botones input:hover{
    background-color: rgb(59, 58, 58) ;
    transition: 0.5s;
}
#botones input:focus{
    background-color: whitesmoke;
    color: black;
    transition: 0.5s;
}
#topResult{
    margin-right: 4%;
}
.buscador{
    display: flex;
    background-color: #0e0d0d;
    gap: 1rem;
}
.btn-outline-light{
    height: 6vh;
    align-self: center;
}
#artist-image{
    width: 13svh;
    height: 13svh;
    margin: 5%;
    border-radius: 5rem;
}
article{
    margin-top: 7%;
    border-radius: 10px;
    background-color: rgb(34, 33, 33);
    padding: 1rem;
    transition: 0.5s;
}
article:hover{
    background-color: rgb(43, 42, 42);
    transition: 0.5s;
}
article h1{
    margin-left: 2rem;
}
h2{
    font-weight: revert ;
}
article h5{
    margin-left: 2rem;
    padding: 2%;
    background-color:  rgb(24, 23, 23);
    width: fit-content;
    border-radius: 20px
    
}
#tracks{
    margin-top: 2%;
    border-radius: 10px;
    width: 100%;
    height: 33.8vh;

}
#tracks iframe{
    height: 5rem;
    transition: 0.5s;
}
#tracks iframe:hover{
    margin-left: 2rem;
    transition: 0.5s ease;
}
section{
    display: flex;
    margin-bottom: 2rem;
}
section .col-2 img{
    width: 22vh;
    height: 22vh;
    border-radius: 1rem;
}
#artists .col-2 img{
    width: 22vh;
    height: 22vh;
    border-radius: 7rem;
}
section div{
    width: fit-content;
    border-radius: 12px;
    margin-top: 2rem;
    margin-right: 2rem;
    background-color: rgb(34, 33, 33);
    padding: 1rem;
    transition: 0.5s;
}
section div:hover{
    background-color: rgb(59, 58, 58);
    transition: 0.5s;
}
section h5{
    margin-top: 1rem;
    color: white;
}
section span{
    color: rgb(196, 196, 196);
}
/* Switch Areas*/
.hidden-element{
    display: none;
}
.block-element{
    display: block;
}